body{
    background-color: darkolivegreen;
    margin: 0;
}
h1{
    color:bisque;
}

p{
    font-family: 'Courier New', Courier, monospace;
}

.underline{
    text-decoration: underline;
}

#header{
    background-color: chocolate;
}

#image{
    height: 500px;
    width: auto;
}